// Font Variables
$headline:Satisfy;
$headline-fb:cursive;
$body:Questrial;
$body-fb:sans-serif;

$headine-font-size:150px;

@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Questrial');
